<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n" />
        </Console>
        <File name="LogFile" fileName="logs/eventloader.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    	<SMTP name="smtpError" subject="Eventloader: ERROR" 
    	 	  to="okundirenko@vareger.com" from="info@vareger.com"
          	  smtpHost="email-smtp.us-east-1.amazonaws.com" smtpPort="25" 
          	  smtpUsername="AKIAIQY4YIV6POVGEJGA" smtpPassword="AhDTvxK9nq4fN5n49PJM6ohFrxfo6bK4kwe4N1VSBAuC" 
          	  smtpDebug="true" bufferSize="50">
          	  <BurstFilter level="INFO" rate="1" maxBurst="10"/>
    	</SMTP>
    	<SMTP name="smtpInfo" subject="Eventloader: REPORT" 
    	 	  to="okundirenko@vareger.com" from="info@vareger.com"
          	  smtpHost="email-smtp.us-east-1.amazonaws.com" smtpPort="25" 
          	  smtpUsername="AKIAIQY4YIV6POVGEJGA" smtpPassword="AhDTvxK9nq4fN5n49PJM6ohFrxfo6bK4kwe4N1VSBAuC" 
          	  smtpDebug="true" bufferSize="50">
          	  <ThresholdFilter level="info"/>
          	  <PatternLayout>
                  <pattern>%m</pattern>
              </PatternLayout>
    	</SMTP>
    </Appenders>
    <Loggers>
		<Logger name="ethereum.eventloader" level="info" />
    	<Logger name="ethereum.eventloader.INFO_EMAIL" level="info" additivity="false">
      		<AppenderRef ref="smtpInfo" level="info" />
    	</Logger>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="smtpError" level="error" />
        </Root>
    </Loggers>
</Configuration>